.hidden {
  display: none;
}

.profile-page-background {
  background-color: rgb(234, 235, 238);
}

.total-profile-div {
  margin: 0 auto;
  width: 851px;
  height: 100%;
  background-color: rgb(234, 235, 238);
}

.profile-main-div {
  display: flex;
}

.profile-header-div {
  width: inherit;
  height: 359px;
  background-color: lightgreen;
}

.profile-cover-div {
  width: inherit;
  height: 315px;
  background-color: lightblue;
  position: relative;
}

.profile-cover-pic-container {
  height: inherit;
  position: relative;
}

.cover-pic-preview {
  height: 315px;
  width: 851px;
  object-fit: cover;
  position: absolute;
  z-index: 2;
}

.cover-pic {
  height: 315px;
  width: 851px;
  object-fit: cover;
  position: absolute;
}

.not-hovering {

}

.hovering {

}

.cover-pic-uploader {
  position: absolute;
  z-index: 4;
  top: 13px;
  left: 20px;
}

.material-icons.mini {
  font-size: 16px;
}

.cover-pic-uploader span {
  font-family: 'SF Optimized', system-ui;
  font-size: 12px;
  font-weight: 500;
  color: white;
  margin-bottom: 2px;
}

.cover-update-buttons {
  position: relative;
  top: 289px;
  left: 666px;
}

.cover-save-button {
  width: 84px;
  height: 26px;
  background-color: rgb(66, 103, 178);
  font-family: 'SF Optimized', system-ui;
  font-size: 12px;
  font-weight: 500;
  color: white;
  border: 1px solid rgb(66, 103, 178);
  border-radius: 2px;
  text-align: center;
  padding: 0 6px;
  margin-left: 4px;
}

.cover-cancel-button {
  width: 40px;
  height: 26px;
  background-color: rgb(246, 247, 249);
  font-family: 'SF Optimized', system-ui;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid rgb(206, 208, 212);
  border-radius: 2px;
  text-align: center;
  padding: 0 6px;
}

.profile-name {
  max-width: 275px;
  word-wrap: break-word;
  position: absolute;
  bottom: 18px;
  left: 200px;
  z-index: 1;
  font-family: 'SF Optimized', system-ui;
  font-size: 24px;
  font-weight: 300;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, .8);
}

.profile-nav-bar {
  width: 649px;
  height: 43px;
  padding-left: 201px;
  background-color: white;
  display: flex;
  position: relative;
}

.profile-header-total {
  position: relative;
}

.profile-pic-div {
  width: 170px;
  position: absolute;
  bottom: 17px;
  left: 14px;
}

.profile-photo-container {
  padding: 2px;
  height: 164px;
  width: 164px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 2px;
}

.profile-nav-link-div {
  border-left: 1px solid rgb(233, 234, 237);
}

.profile-nav-link-div:nth-of-type(3) {
  border-right: 1px solid rgb(233, 234, 237);
}

.profile-nav-link {
  width: auto;
  height: 42px;
  padding: 0 17px;
  vertical-align: middle;
  text-align: center;
  color: rgb(54, 88, 153);
  font-size: 14px;
  font-weight: 500;
  font-family: 'SF Optimized', system-ui;
  line-height: 43px;
  height: 42px;
}


.profile-info-div {
  width: 321px;
  border: 1px solid rgb(208, 209, 213);
  margin-top: 10px;
}

.intro-box {
  width: 321px;
  height: 24px;
  margin: 0 12px;
  padding: 12px 0 4px 4px;
  font-family: 'SF Optimized', system-ui;
  font-size: 16px;
  font-weight: 400;
  vertical-align: center;
  display: flex;
}

.intro-icon {

}

.intro-text {
  margin: 2.5px 0 0 4px;
}

.profile-info-div {
  background-color: white;
}

.profile-info-details-div {
  width: 297px;
  margin: 4px 12px 12px 12px;
  border-top: 1px solid rgb(233, 235, 238);
}

.profile-details-content {
  width: 297px;
  padding-left: 4px;
}

.edit-button-div {
  position: relative;
  width: 18px;
  height: 18px;
  left: 280px;
  bottom: 118px;
}

.material-icons.md-12 {
  font-size: 12px;
  &:hover {
    background: rgb(65, 90, 147);
  }
}

.profile-detail {
  font-family: 'SF Optimized', system-ui;
  font-size: 12px;
  height: 16px;
  padding: 4px 0;
  vertical-align: middle;
}

.material-icons.md-14 {
  font-size: 16px;
  color: lightblue;
  margin-top: 8px;
}

.profile-detail-icon {
  margin-right: 8px;
  height: 16px;
  vertical-align: bottom;
}

.profile-detail-text {
  height: 16px;
  // margin-bottom: 4px;
}


// EDIT PROFILE FORM
.edit-form-div {
  padding: 40px;
  background: rgb(246, 247, 249);
  color: rgb(102, 102, 102);
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

.profile-row {
  width: 558px;
}

.edit-profile-div {
  width: 242px;
  height: 28px;
  // margin: 0 auto;
  color: rgb(29, 33, 41);
  font-size: 12px;
  border: 1px solid rgb(211, 214, 219);
  display: inline-block;
  justify-content: space-between;
}

.edit-profile-submit-div {
  width: 558px;
  height: 28px;
  padding-top: 10px;
  border-top: 1px solid rgb(221, 223, 226);
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

.edit-prof-label {
  width: 180px;
  height: 18px;
  margin-right: 18px;
  text-align: right;
  display: inline-block;
}

.profile-input {
  width: 242px;
  height: 16px;
  padding: 6px 8px;
  display: inline-block;
}

.save-button {
  width: 83px;
  height: 26px;
  color: white;
  background: rgb(54, 88, 153);
  padding: 0 10px;
  border: 1px solid rgb(66, 103, 178);
  border-radius: 2px;
}

.cancel-button {
  width: 40px;
  height: 26px;
  color: rgb(75, 79, 86);
  background: rgb(246, 247, 249);
  padding: 0 10px;
  border: 1px solid rgb(206, 208, 212);
  border-radius: 2px;
}
